body,
html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; /* Change background color if needed */
    background-image: url('image/img.jpg');
    background-repeat: no-repeat;
    background-size: cover; /* Cover the entire area */
    background-position: center; /* Center the image */
}

.header {
    backdrop-filter: blur(6px);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.25); /* Add a semi-transparent background */
    padding: 20px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.25); /* Add a semi-transparent background */
    display: flex;
    flex-direction: column;
    width: 450px;
    padding: 20px; /* Add padding inside the form */
}

.form p {
    margin: 10px 0 5px;
}

.form input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(100% - 22px); /* Adjust width to account for padding and border */
}

.terms {
    display: flex;
    align-items: center;
    margin-top: 10px;
    text-align: left;
}

.terms input[type="checkbox"] {
    margin-right: 5px;
}

.terms label {
    font-size: 14px;
    margin: 0; /* Remove margin to keep it on the same line as checkbox */
}

.terms a {
    color: #007BFF;
    text-decoration: none;
}

.terms a:hover {
    text-decoration: underline;
}

.submit {
    margin-top: 20px;
    text-align: center;
}

.button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    background-color: #0056b3;
}
