body {
    background-color: #f0f0f0;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.mainbox {
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.internship {
    display: none;
    background-color: #f9f9f9;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.details, .extra {
    flex: 1;
    padding: 20px;
}

.details h2 {
    margin-top: 0;
}

.details ul {
    list-style-type: none;
    padding: 0;
}

.details li {
    font-size: 18px;
    margin: 5px 0;
}

button {
    font-size: 18px;
    background-color: #4caf50;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
    transition: background-color 0.3s, transform 0.3s;
}

button a {
    color: white;
    text-decoration: none;
}

button:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

.extra img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.extra p {
    font-size: 16px;
    margin: 0;
}

.navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.navigation button {
    background-color: #333;
    color: white;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

.navigation button:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

@media (max-width: 768px) {
    .content {
        flex-direction: column;
    }

    .navigation {
        flex-direction: column;
    }

    .navigation button {
        margin: 10px 0;
    }
}
